.content{
    font-weight: 32px;
    
    color: #333;
  
    justify-content: space-between;
}

.uppersection{
    display: flex;
    justify-content: space-between;
}
.uppersection h2{
    font-size: 20px;
    line-height: 21px;
    color: #1C170D;
    
}
.button-holder{
    display: flex;
}
.delete-program{
    background-color: #F5F0E5; 
    color: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 12px;
    font-size: 11px;
    cursor: pointer;
    height: 30px;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
   
 
  }
  .delete-program:hover{
    background-color: #bd0009;
    color: white;
    font-weight: 600;
  }