*{
    font-family: inter;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 92.5%;
    background-color: white;
    color: #333;
    transition: left 0.3s ease;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
  }
  
  .sidebar-content {
    padding: 20px;
    width: 100%;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
  }
  
  .sidebar ul li a {
    color: #333;
    text-decoration: none;
    margin-left: 10px; 
    font-size: 13px;
    font-weight: bold;
  }

  .sidebar ul li:hover {
    background-color: #F5F0E5;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
  }

  .sidebar ul h4{
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-icon {
    width: 20px; 
    height: 20px;
    object-fit: contain;
  }
  
  .create-program {
    padding: 20px;
    text-align: center;
  }
  
  .create-program button {
    background-color: #009963; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 11px;
    cursor: pointer;
    width: 80%;
  }
  
  .create-program button:hover {
    background-color: #009963;
    font-weight: 600;
  }

  .Top{
    display: flex;
  }

.NB{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#programs, #settings{
  opacity: 0.3;
  transition: opacity 0.3s ease;
  cursor: not-allowed;
}