.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: lexend;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.navbar-logo {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.navbar-signin {
  display: flex;
  gap: 10px;
}

.signin-btn {
  border: none;
  background: transparent;
}

.Modes {
  background: none;
  border: none;
  cursor: pointer;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .navbar {
    text-align: center; /* Center-align all text */
    padding: 10px; /* Optional: adds some breathing room */
  }

  .navbar-title {
    margin: 10px 0; /* Add some vertical spacing */
  }

  .navbar-logo {
    margin-bottom: 10px; /* Space below logo */
  }

  .navbar-signin {
    justify-content: center; /* Center the buttons */
  }
  .signin-btn{
    margin-right: 10px;
  }
}