.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: lexend;

  background-color: #fff; 
}

.navbar-logo {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000; 
}

.navbar-signin {
  display: flex;
  gap: 10px;
}

.signin-btn{
  border: none;
  background: transparent;
}

.Modes {
  background: none;
  border: none;
  cursor: pointer;
}